/dev/
/downloader/
/errors/
/includes/
/js/
/lib/
/media/
/shell/
/var/
/.htaccess
/.htaccess.sample
/.idea
api.php
cron.php
cron.sh
RELEASE_NOTES.txt
php.ini.sample
LICENSE.txt
mage
magento-1.9.4.3-2019-10-08-05-29-43.zip
install.php
LICENSE.html
LICENSE_AFL.txt
favicon.ico
get.php
index.php
index.php.sample

app/code/community/
app/code/core
app/locale
app/code/local/Magentotutorial
app/code/local/Bss
app/Mage.php
app/bootstrap.php

app/etc/*
!app/etc/modules

app/etc/modules/*
!app/etc/modules/Ezdefi_Cryptocurrencypayment.xml


app/design/install
app/design/adminhtml/default/default/*
!app/design/adminhtml/default/default/layout
app/design/adminhtml/default/default/layout/*
!app/design/adminhtml/default/default/layout/cryptocurrencypayment.xml

app/design/frontend/*
!app/design/frontend/base
app/design/frontend/base/default/*
!app/design/frontend/base/default/layout
app/design/frontend/base/default/layout/*
!app/design/frontend/base/default/layout/cryptocurrencypayment.xml



skin/adminhtml/default/default/*
!skin/adminhtml/default/default/Ezdefi

skin/install
skin/frontend/rwd
skin/frontend/default
skin/frontend/base/default/*
!skin/frontend/base/default/Ezdefi